{% extends 'absences/_base.html' %}

{% block content %}
<div class="items-center flex justify-center py-6 mt-4">
  <div class="max-w-xl bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">{{profile.description}}</h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{profile.username}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Date joined</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{profile.date_joined}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Country</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{profile.country_code}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Is admin</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{profile.is_superuser}}</dd>
        </div>
      </dl>
    </div>

    <div></div>
    {% if user.is_superuser %}
    <div class="mt-5 flex py-2 px-4">
        <a href="{% url 'accounts:edit_profile' pk=profile.pk %}" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Edit
        </a>
    </div>
    {% endif %}
  </div>
</div>

{% if user.is_superuser or user == profile %}
  <div class="min-h-full flex items-center justify-center py-5 px-4">
    <div class="max-w-mg space-y-4">
      <div>
        <h3 class="mt-6 text-center text-2xl font-bold text-gray-900">Absence requests by user:</h3>
      </div>

      {% for absence in profile.user_absences.all %}
        <div>
            <a href="{{absence.get_absolute_url}}" class="inline-flex w-full items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                From {{absence.start_date}} to {{absence.end_date}}, status: {{absence.get_approval_status_code_display}}
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}


{% endblock %}