{% extends 'absences/_base.html' %}

{% load static %}

{% block content %}
<script src="{% static 'absences/js/calendarChart.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'absences/css/calendarChart.css' %}">

<div class="flex justify-center my-4 pb-4 border-b-2 border-gray-100">
  <nav class="flex space-x-10">
    <a href="{% url 'absences:calendar_yearly' year=year|add:-1 %}" class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900">
        ←  {{year|add:-1}}
    </a>
    <span class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900 bg-gray-100 border border-gray-300 rounded-md">{{year}}</span>
    <a href="{% url 'absences:calendar_yearly' year=year|add:1 %}" class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900">
        {{year|add:1}} →
    </a>
  </nav>
</div>


<div class="mt-8 chart-wrapper px-4">
    <div class="flex chart-header w-full">
        <div style="flex:2" class="flex justify-end h-8">
            <div class="mt-1 px-2 flex rounded-md">
                <input id="searchName" type="text" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md" placeholder="Filter by name or email">
            </div>
        </div>
        <div style="flex:8" class="flex h-8">
              <ul class="chart-columns w-full">
                  {% for month in months %}
                    <li style="flex:{{month.num_days}}"><a href="{% url 'absences:calendar_monthly' year=year month=month.index %}" class="months whitespace-nowrap text-base font-bold text-indigo-700 hover:text-indigo-900 px-2">{{month.title}}</a></li>
                  {% endfor %}
              </ul>
        </div>
    </div>


  <ul class="chart-bars mt-1" id="calendarRows">
      {% for absence_user in users %}
      <li data-user-name="{{absence_user.description}}" data-user-email="{{absence_user.username}}">
          <div class="h-8 w-full flex" >
              <div style="flex:2" class="flex items-center justify-end">
                  <a href="{% url 'accounts:profile' pk=absence_user.username %}" class="whitespace-nowrap text-base font-medium text-indigo-700 hover:text-indigo-900 px-4">{{absence_user.description}}</a>
              </div>
              <div style="flex:8" class="flex">
                  {% for absence in absence_user.user_absences.all %}
                    <a class="chart-bar" href="{{absence.get_absolute_url}}" data-absence-start="{{absence.start_date|date:'Y-m-d'}}" data-absence-end="{{absence.end_date|date:'Y-m-d'}}"
                       data-approval-status-code="{{absence.approval_status_code}}"></a>
                  {% endfor %}
              </div>
          </div>
      </li>
      {% endfor %}
  </ul>
</div>

{% endblock %}