{% extends 'absences/_base.html' %}

{% load static %}

{% block content %}
<script src="{% static 'absences/js/calendarChart.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'absences/css/calendarChart.css' %}">

<form method="get" class="mt-8 flex px-4 space-x-10 pb-4 border-b-2 border-gray-100">
    <div>
        <span class="text-xl font-bold text-gray-900">Filters:</span>
    </div>
    <div>
        <label for="filter_email" class="block text-sm font-medium text-gray-700">Email</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <input id="filter_email" name="username" type="text" autocomplete="email" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="Email address">
        </div>
        {% if filter_email.errors %}<span class="text-sm font-medium text-red-600">{{ filter_email.errors.as_text }}</span>{% endif %}
    </div>
    <div>
        <label for="filter_description" class="block text-sm font-medium text-gray-700">Name</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <input id="filter_description" name="description" type="text" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="Name">
        </div>
        {% if filter_description.errors %}<span class="text-sm font-medium text-red-600">{{ filter_description.errors.as_text }}</span>{% endif %}
    </div>
    <div>
        <label for="filter_groups" class="block text-sm font-medium text-gray-700">Groups</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <input id="filter_groups" name="groups" type="text" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="Groups">
        </div>
        {% if filter_groups.errors %}<span class="text-sm font-medium text-red-600">{{ filter_groups.errors.as_text }}</span>{% endif %}
    </div>
    <div>
        <label for="country_code" class="block text-sm font-medium text-gray-700">Country</label>
        <div class="mt-1 relative rounded-md shadow-sm">
            {{ filter.form.country_code }}
        </div>
    </div>
    <div>
        <div class="mt-1 relative">
            <button type="submit" class="group h-10 mt-4 relative align-middle justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Apply filter
            </button>
        </div>
    </div>
</form>


<div class="flex justify-center my-4 pb-4 border-b-2 border-gray-100">
  <nav class="flex space-x-10">
    <a href="{% url 'absences:calendar_yearly' year=year|add:-1 %}" class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900">
        ←  {{year|add:-1}}
    </a>
    <span class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900 bg-gray-100 border border-gray-300 rounded-md">{{year}}</span>
    <a href="{% url 'absences:calendar_yearly' year=year|add:1 %}" class="flex relative items-center px-4 py-2 text-base font-medium text-gray-700 hover:text-gray-900">
        {{year|add:1}} →
    </a>
  </nav>
</div>

<div class="mt-8 chart-wrapper px-4">
    <div class="flex chart-header w-full">
        <div style="flex:3" class="flex justify-end">
              <div style="flex:3" class="flex items-center justify-end">
                  <span class="text-sm text-gray-900 px-4">User</span>
              </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm text-gray-500 px-2">Total absence allowed</span>
                </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm text-gray-500 px-2">Remaining vacation</span>
                </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm text-gray-500 px-2">Remaining vacation (incl. leave on demand)</span>
                </div>
        </div>
        <div style="flex:8" class="flex h-8">
              <ul class="chart-columns w-full">
                  {% for month in months %}
                    <li style="flex:{{month.num_days}}"><a href="{% url 'absences:calendar_monthly' year=year month=month.index %}" class="months whitespace-nowrap text-base font-bold text-indigo-700 hover:text-indigo-900 px-2">{{month.title}}</a></li>
                  {% endfor %}
              </ul>
        </div>
    </div>


  <ul class="chart-bars mt-1" id="calendarRows">
      {% for absence_user in users %}
      <li data-user-name="{{absence_user.description}}" data-user-email="{{absence_user.username}}">
          <div class="h-8 w-full flex" >
              <div style="flex:3" class="flex">
              <div style="flex:3" class="flex items-center justify-end">
                  <a href="{% url 'accounts:profile' pk=absence_user.username %}" class="whitespace-nowrap text-base font-medium text-indigo-700 hover:text-indigo-900 px-4">{{absence_user.description}}</a>
              </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm px-2">{{absence_user.total_absence_allowed}}</span>
                </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm px-2">{{absence_user.remaining_vacation}}</span>
                </div>
                <div style="flex:1" class="flex items-center">
                    <span class="text-sm px-2">{{absence_user.remaining_vacation_including_leave_on_demand}}</span>
                </div>
              </div>
              <div style="flex:8" class="flex">
                  {% for absence in absence_user.user_absences.all %}
                    <a class="chart-bar" href="{{absence.get_absolute_url}}" data-absence-start="{{absence.start_date|date:'Y-m-d'}}" data-absence-end="{{absence.end_date|date:'Y-m-d'}}"
                       data-approval-status-code="{{absence.approval_status_code}}"></a>
                  {% endfor %}
              </div>
          </div>
      </li>
      {% endfor %}
  </ul>
</div>

{% endblock %}